@model LocationVoiture.Models.Reclamation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_ajout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_ajout)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_reclamation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
