@model EcommerceApp.Models.Reservation

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}

<div class="ml-5">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Reservation</h4>

            <hr />
            @if (ViewBag.err != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.err
                </div>
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @ViewBag.product_id

            @if (ViewBag.product == null)
            {
                <div class="form-group">
                    @EcommerceApp.Resources.Models.ReservationModel.matricule
                    <div class="col-md-10">
                        @Html.DropDownList("id_product", null, "--- Product ---", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_product, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {

                <div class="form-group">
                    <h4>Product: <em>@ViewBag.product.matricul</em></h4>
                </div>

                <input type="hidden" value="@ViewBag.product.id_product" name="id_product" />
            }


            <div class="form-group">
                @EcommerceApp.Resources.Models.ReservationModel.paiement
                <div class="col-md-10">
                    @Html.DropDownList("id_paiement", null, "--- Paiement ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_paiement, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.date_prise_en_charge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date_prise_en_charge, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.date_prise_en_charge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.date_retour, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date_retour, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.date_retour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lieu_prise_en_charge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lieu_prise_en_charge, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lieu_prise_en_charge, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.recategory, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.recategory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.recategory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@EcommerceApp.Resources.most.save class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(EcommerceApp.Resources.most.back, "Index")
    </div>

</div>