@model LocationVoiture.Models.Reservation

@if (User.IsInRole("Tenant"))
{
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}
else if (User.IsInRole("Owner"))
{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
else if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="m-5">

    <h2>Details</h2>

    <div>
        <h4>Reservation</h4>
        <hr />
        <dl class="dl-horizontal row">
            <dt class="col-md-3">
                @LocationVoiture.Resources.Models.ReservationModel.tenant
            </dt>

            <dd class="col-md-9">
                <a href="#" data-toggle="modal" data-target="#user">
                    @Html.DisplayFor(model => model.ApplicationUser.UserName)
                </a>
            </dd>

            <dt class="col-md-3">
                @LocationVoiture.Resources.Models.ReservationModel.owner
            </dt>

            <dd class="col-md-9">
                <a href="#" data-toggle="modal" data-target="#owner">
                    @Html.DisplayFor(model => model.Voiture.ApplicationUser.UserName)
                </a>
            </dd>

            <dt class="col-md-3">
                @LocationVoiture.Resources.Models.ReservationModel.matricule
            </dt>

            <dd class="col-md-9">
                <a href="~/Voitures/Details/@Model.Voiture.id_voiture" target="_blank">
                    @Html.DisplayFor(model => model.Voiture.matricul)
                </a>
            </dd>

            <dt class="col-md-3">
                @LocationVoiture.Resources.Models.ReservationModel.paiement
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.Paiement.libele)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.prix)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.prix) DHs
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.date_prise_en_charge)
            </dt>

            <dd class="col-md-9">
                @Convert.ToDateTime(Model.date_prise_en_charge).ToString("dd/MM/yyyy")
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.date_retour)
            </dt>

            <dd class="col-md-9">
                @Convert.ToDateTime(Model.date_retour).ToString("dd/MM/yyyy")
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.lieu_prise_en_charge)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.lieu_prise_en_charge)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.remarque)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.remarque)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.date_ajout)
            </dt>

            <dd class="col-md-9">
                @Html.DisplayFor(model => model.date_ajout)
            </dd>

        </dl>
    </div>

</div>
<div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @Model.ApplicationUser.UserName
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal row">
                    <dt class="col-md-4">
                        @LocationVoiture.Resources.Models.ReservationModel.tenant
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.ApplicationUser.UserName)
                    </dd>

                    <dt class="col-md-4">
                        Email
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.ApplicationUser.Email)
                    </dd>

                    <dt class="col-md-4">
                        @LocationVoiture.Resources.Models.Locataire.phone
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
                    </dd>
                    <dt class="col-md-4">
                        @LocationVoiture.Resources.Models.Locataire.address
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.ApplicationUser.UserAdress)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="owner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    @Model.Voiture.ApplicationUser.UserName
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal row">
                    <dt class="col-md-4">
                        @LocationVoiture.Resources.Models.ReservationModel.owner
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.Voiture.ApplicationUser.UserName)
                    </dd>

                    <dt class="col-md-4">
                        Email
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.Voiture.ApplicationUser.Email)
                    </dd>

                    <dt class="col-md-4">
                        @LocationVoiture.Resources.Models.Locataire.phone
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.Voiture.ApplicationUser.PhoneNumber)
                    </dd>
                    <dt class="col-md-4">
                        @LocationVoiture.Resources.Models.Locataire.address
                    </dt>

                    <dd class="col-md-8">
                        @Html.DisplayFor(model => model.Voiture.ApplicationUser.UserAdress)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>