@model LocationVoiture.Models.ChangePasswordViewModel
@{ 
    //ViewBag.Title = "Change Password";
if (User.IsInRole("Tenant"))
{
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}
else if (User.IsInRole("Owner"))
{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
else if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
} }



@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()


                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <center>
                                                <h4 style="color:#3692EB">
                                                    @LocationVoiture.Resources.Views.Manage.ChangePassword.title
                                                </h4>
                                                <hr />
                                            </center>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <center>

                                                @Html.LabelFor(m => m.OldPassword)

                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            </center>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <center>

                                                @Html.LabelFor(m => m.NewPassword)

                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            </center>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <center>

                                                @Html.LabelFor(m => m.ConfirmPassword)

                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </center>
                                        </div>
                                    </div>
                                    <div>
                                        <p style="color:red">@ViewBag.info</p>
                                    </div>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 mx-auto">
                                            <center>
                                                <div class="form-group">

                                                    <input type="submit" value=@LocationVoiture.Resources.Views.Manage.ChangePassword.title class="btn btn-default" style="background-color: #3692EB;color:white" />
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}

