@model IEnumerable<LocationVoiture.Models.Voiture>

@if (User.IsInRole("Tenant"))
{
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}
else if (User.IsInRole("Owner"))
{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
else if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="m-5">
    @{ 
        DateTime date = DateTime.Now;
        if (ViewBag.date != null)
        { date = ViewBag.date; }
    }
    @using (Html.BeginForm())
    {
       

        <div class="d-flex">
            <input type="date" name="date" value="@date.ToString("yyyy-MM-dd")" class="form-control" />
            <input type="submit" value=@LocationVoiture.Resources.most.search class="btn btn-primary ml-2" />
        </div>
    }

    <hr />


    @if (Model != null)
    {
        <table class="table table-striped" id="cars">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.matricul)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marque.libele)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.prix)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date_ajout)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_voiture)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.matricul)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marque.libele)
                        </td>
                        <td>
                            <p class="font-weight-bold">
                                @if (item.Offre != null && item.Offre.date_expiration >= DateTime.Now)
                                {
                                    <span class="line-through"> @item.prix DHs</span> <span> (-@item.Offre.taux_remise%)</span> <br />
                                }
                                <span class="text-success">@item.Prix_total() DHs</span>
                            </p>
                        </td>
                        <td>
                            <img src="~/Uploads/cars/@Html.DisplayFor(model => item.photo)" class="img-thumbnail" style="width:48px; height:48px;" />
                        </td>
                        <td>
                            @Convert.ToDateTime(item.date_ajout).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Voitures", new { id = item.id_voiture })" class="text-success">
                                <i class="material-icons icon ">
                                    visibility
                                </i>
                            </a>
                            <a href="~/Reservations/Create/@item.id_voiture" class="btn btn-success my-4 text-center">Reserve</a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }

</div>