@model IEnumerable<LocationVoiture.Models.Offre>

@{
    //ViewBag.Title = "Index";
    if (User.IsInRole("Owner"))
    {
        Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    }

}
@if (User.IsInRole("Owner"))
{
<p>
    <a href="@Url.Action("Create", "Offres")" class="text-success">
        @LocationVoiture.Resources.Views.Offres.Index.createNew
    </a>
</p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.libele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taux_remise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_expiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_ajout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.libele)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.taux_remise)
                </td>
                <td>
                    @Convert.ToDateTime(item.date_expiration).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.date_ajout).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @if (User.IsInRole("Owner"))
                    {
                        <a href="@Url.Action("Edit", "Offres", new { id = item.id_offre })" class="text-success">
                            <i class="material-icons icon " style="color:yellow">
                                edit
                            </i>
                        </a>
                    }
                    <a href="@Url.Action("Details", "Offres", new { id = item.id_offre  })" class="text-success">
                        <i class="material-icons icon ">
                            visibility
                        </i>
                    </a>
                    @if (User.IsInRole("Owner"))
                    {
                        <a data-delete-id="@item.id_offre" class="text-danger delete-link-offre pointer">
                            <i class="material-icons icon ">
                                delete
                            </i>
                        </a>
                        @Html.Hidden("__RequestVerificationToken", @Html.AntiForgeryToken())
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
