@model LocationVoiture.Models.EditViewModel

@if (User.IsInRole("Tenant"))
{
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}
else if (User.IsInRole("Owner"))
{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}
else if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <!--<div class="row">
                            <div class="col">
                                <center>
                                    <img style="width:100px" src="imgs/generaluser.png" />
                                </center>
                            </div>
                            </div>-->
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4 style="color:#3692EB">@LocationVoiture.Resources.Views.Account.Edit.msg</h4>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    @Html.LabelFor(m => m.UserPhone)
                                    @Html.TextBoxFor(m => m.UserPhone, new { @class = "form-control" })
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    @Html.LabelFor(m => m.UserAdress)
                                    @Html.TextAreaFor(m => m.UserAdress, new { @class = "form-control" })
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </center>
                            </div>
                        </div>

                        <div>
                            <p style="color:red">@ViewBag.info</p>
                        </div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <center>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value=@LocationVoiture.Resources.Views.Account.Edit.edit style="background-color: #3692EB" />
                                    </div>
                                    <div class="form-group">
                                        <a href="~/Manage/ChangePassword">@LocationVoiture.Resources.Views.Account.Edit.changePasseword</a>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
