

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span {
        color: lightcyan;
        font-size: 18px;
    }
</style>

<div class="wrapper d-flex">
    <div class="sideMenu " style="background-color: #080F1A;"  >
        <div class="sidebar">
            <ul class="navbar-nav mt-3">
                <li class="nav-item">
                    <a href="~/OwnerDashboard" class="nav-link px-2">
                        <i class="material-icons icon " style="color:aliceblue"  >
                            dashboard
                        </i>
                        <span class="text">@EcommerceApp.Resources.Views.Shared._OwnerDashboard.dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="~/OwnerDashboard/historique" class="nav-link px-2">
                        <i class="material-icons icon" style="color:aliceblue">
                            history
                        </i>
                        <span class="text">@EcommerceApp.Resources.Views.Shared._OwnerDashboard.history</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Products/OwnerProducts" class="nav-link px-2">
                        <i class="material-icons icon" style="color:aliceblue">
                            assignment
                        </i><span class="text">@EcommerceApp.Resources.Views.Shared._OwnerDashboard.product</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Offres/index" class="nav-link px-2">
                        <i class="material-icons icon" style="color:aliceblue">
                            local_offer
                        </i>
                        <span class="text">@EcommerceApp.Resources.Views.Shared._OwnerDashboard.offer</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Account/Edit" class="nav-link px-2">
                        <i class="material-icons icon" style="color:aliceblue">
                            account_box
                        </i>
                        <span class="text">@EcommerceApp.Resources.Views.Shared._OwnerDashboard.profil</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>
</div>
@section chartSection{
    @RenderSection("chart", required: false)
}
