

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
            <ul class="navbar-nav mt-3">
                <li class="nav-item">
                    <a href="~/TenantDashboard" class="nav-link px-2">
                        <i class="material-icons icon">
                            history
                        </i>
                        <span class="text">
                            @EcommerceApp.Resources.Views.Shared._TenantDashboard.history
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Products/Index" class="nav-link px-2">
                        <i class="material-icons icon">
                            directions_product
                        </i>
                        <span class="text">
                            @EcommerceApp.Resources.Views.Shared._TenantDashboard.product
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Products/Disponible" class="nav-link px-2">
                        <i class="material-icons icon">
                            check_circle
                        </i><span class="text">Disponible</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Reservations/Index" class="nav-link px-2">
                        <i class="material-icons icon">
                            bookmark_border
                        </i><span class="text">
                            @EcommerceApp.Resources.Views.Shared._TenantDashboard.reservation
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Account/Edit" class="nav-link px-2">
                        <i class="material-icons icon">

                            account_box
                        </i>
                        <span class="text">
                            @EcommerceApp.Resources.Views.Shared._TenantDashboard.profil
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="content">
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>
</div>
