

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
            <ul class="navbar-nav mt-3">
                <li class="nav-item">
                    <a href="~/OwnerDashboard" class="nav-link px-2">
                        <i class="material-icons icon">
                            dashboard
                        </i>
                        <span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="~/OwnerDashboard/historique" class="nav-link px-2">
                        <i class="material-icons icon">
                            history
                        </i>
                        <span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.history</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Locataires" class="nav-link px-2">
                        <i class="material-icons icon">
                            supervisor_account
                        </i>
                        <span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.tenant</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Voitures/OwnerCars" class="nav-link px-2">
                        <i class="material-icons icon">
                            directions_car
                        </i><span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.car</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Reservations/OwnerReservations" class="nav-link px-2">
                        <i class="material-icons icon">
                            view_module
                        </i>
                        <span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.reserve</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Marques" class="nav-link px-2">
                        <i class="material-icons icon">
                            library_books
                        </i>
                        <span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.model</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Offres/index" class="nav-link px-2">
                        <i class="material-icons icon">
                            %
                        </i>
                        <span class="text">Offer</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Account/Edit" class="nav-link px-2">
                        <i class="material-icons icon">
                            account_box
                        </i>
                        <span class="text">@LocationVoiture.Resources.Views.Shared._OwnerDashboard.profil</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <div class="content">
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>
</div>
@section chartSection{
    @RenderSection("chart", required: false)
}
