@model IEnumerable<LocationVoiture.Models.Reservation>
@{
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}

<div class="container">
    <div class="title ml-5">
        <h1>@LocationVoiture.Resources.Views.Shared._TenantDashboard.history</h1>
    </div>
    <hr />
    @if (Model.Any())
    {
        <div class="row justify-content-center">
            <div class="col-10">
                <ul id="listPage" class="text-center" style="list-style-type:none;">
                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                            <li style="min-height:200px;">
                                <div class="card row flex-row flex-wrap m-3 h-100">
                                    <div class="card-header border-0" style="min-height: 200px; width: 250px;background-color:white;
">
                                        <img src="~/Uploads/cars/@Html.DisplayFor(model => item.Voiture.photo)" alt="" class="h-100" style=" width:200px;">
                                    </div>
                                    <div class="card-block my-3" style="margin-left: 100px;">
                                        <center style="margin-top: 50px;margin-bottom:50px;">
                                            <p class="card-text" style="width: 400px;">
                                                @LocationVoiture.Resources.Views.Shared._TenantDashboard.notification<span class="font-weight-bold"> @Html.DisplayFor(modelItem => item.Voiture.ApplicationUser.UserName)</span>,  @LocationVoiture.Resources.Views.Shared._TenantDashboard.le <span class="font-weight-bold"> @Convert.ToDateTime(item.date_ajout).ToString("dd/MM/yyyy")</span>
                                            </p>
                                            <a href="@Url.Action("Details", "Reservations", new { id = item.id_reservation })" class="text-success">
                                                @LocationVoiture.Resources.Views.Shared._TenantDashboard.details
                                            </a>
                                        </center>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>

            </div>

        </div>
    }
    else
    {
        <center>
            <span class="font-weight-bold"> @LocationVoiture.Resources.Views.Shared._TenantDashboard.nothing</span>
        </center>
    }
    <hr />
</div>