@{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}


<div class="container mt-3">
    <h2 class="px-5 py-2 text-center"> @EcommerceApp.Resources.Views.Shared.Dashboard.statitics</h2>

    @using (Html.BeginForm("Index", "OwnerDashboard", FormMethod.Get))
    {
        <div class="d-flex  justify-content-center">
            <input type="text" name="year" value="@ViewBag.year" class="form-control" />
            <input type="submit" value=@EcommerceApp.Resources.most.search class="btn btn-primary ml-2" />
        </div>
    }
    <hr />

    <div class="row d-flex m-5">

        <div class="col-md-6 col-12">
            <div class="productd productd_info h-100">
                <div class="productd-header d-flex justify-content-between">
                    <div>
                        @EcommerceApp.Resources.Views.Shared.Dashboard.nb_voi (@ViewBag.year)
                    </div>
                </div>
                <div class="productd-body">
                    <h5 class="productd-title"></h5>
                    <p class="productd-text">

                        <div id="chart_container_products">
                            <canvas id="bar_chart_products">
                            </canvas>
                        </div>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="productd productd_info h-100">
                <div class="productd-header d-flex justify-content-between">
                    <div>
                        @EcommerceApp.Resources.Views.Shared.Dashboard.price (@ViewBag.year)
                    </div>
                </div>
                <div class="productd-body">
                    <h5 class="productd-title"></h5>
                    <p class="productd-text">

                        <div id="chart_container_prices">
                            <canvas id="bar_chart_prices">
                            </canvas>
                        </div>
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>


@section chart{
    <script>
            var owners = @Html.Raw(Json.Encode(ViewBag.owners));
            var products = @Html.Raw(Json.Encode(ViewBag.products));
            var res = @Html.Raw(Json.Encode(ViewBag.res));
            var prices = @Html.Raw(Json.Encode(ViewBag.prices));
        var months = @Html.Raw(Json.Encode(ViewBag.months));
        //console.log(owners, products, res, prices, months);
        //var months = Utils.months({ count: 12 });


            @* --START --chart for product *@
            var ctx1 = $("#bar_chart_products");
            var myChart = new Chart(ctx1, {
                type: 'line',
                data: {
                    labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                    datasets: [{
                        label: "Products",
                        data: [5, 2, 3, 4, 1, 2, 7, 3, 9, 1, 11, 2],
                        backgroundColor: 'rgba(255,165,0,0.3)',
                                            borderColor: '#2666CF',
                                            pointStyle: "circle",
                        pointBackgroundColor: '#2666CF',
                                            pointRadius: 5,
                                             pointHoverRadius: 10,
                    },]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "@EcommerceApp.Resources.Views.Shared.Dashboard.nb"

                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "@EcommerceApp.Resources.Views.Shared.Dashboard.month"
                            }
                        }]
                    }
                }
            });
            @* --END --chart for product *@

            var ctx2 = $("#bar_chart_prices");
            var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                    datasets: [{
                        label: "Products",
                        data: [5000, 2000, 3500, 4300, 1000, 2230, 7000, 5000, 9000, 1000, 1100, 2000],
                        backgroundColor: '#2666CF',
                        borderColor: 'rgb(255,135,20)',
                        pointStyle: "circle",
                        pointBackgroundColor: 'rgb(0,222,0)',
                        pointRadius: 5,
                        pointHoverRadius: 10,
                    },]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: "@EcommerceApp.Resources.Views.Shared.Dashboard.nb"
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "@EcommerceApp.Resources.Views.Shared.Dashboard.month"
                            }
                        }]
                    }
                }
            });
    </script>
}
